/* $Id:$ */
/* 
    Document   : mencss.css
    Created on : Dec 20, 2010, 11:02:37 PM
    Author     : fields
    Description:
        MEN Style - This file is NOT preprocesed.
*/

/* Handle AdminMenu Toolbar */
body.toolbar {
  margin-top: 30px;
}

/* Remove Duplicate Toolbar if Admin Menu is ON */
.admin-menu #toolbar {
  display: none;
}
html body.admin-menu {
  margin-top: 0px !important;
}
